NET LED[0] LOC = T22  | IOSTANDARD=LVCMOS33;  # "LED0"
NET LED[1] LOC = T21  | IOSTANDARD=LVCMOS33;  # "LED1"
NET LED[2] LOC = U22  | IOSTANDARD=LVCMOS33;  # "LED2"
NET LED[3] LOC = U21  | IOSTANDARD=LVCMOS33;  # "LED3"
NET LED[4] LOC = V22  | IOSTANDARD=LVCMOS33;  # "LED4"
NET LED[5] LOC = W22  | IOSTANDARD=LVCMOS33;  # "LED5"
NET LED[6] LOC = U19  | IOSTANDARD=LVCMOS33;  # "LED6"
NET LED[7] LOC = U14  | IOSTANDARD=LVCMOS33;  # "LED7"
 
NET CLK LOC = Y9   | IOSTANDARD=LVCMOS33;  # "GCLK"
NET BTN LOC = T18  | IOSTANDARD=LVCMOS18;  # "BTNU"

